In [1]:
import array 
arr = array.array('i',[1,2,3,4])
print(arr)

array('i', [1, 2, 3, 4])

In [3]:
import math 
print(math.sqrt(19))
print(math.pi)

4.358898943540674
3.141592653589793

In [26]:
import random 
print(random.randint(1,10))   ## means it can be any random number 
print(random.choice(['apple','banana','cherry']))

5
cherry

In [29]:
### file and directory access..

import os 
print(os.getcwd())   ## by this we will know where we are working

c:\Users\HP\OneDrive\datascienceudemy

In [31]:
os.mkdir('test_dir1') ##Current working directory me ek naya folder (directory) banाओ jiska naam test_dir hoga.

In [ ]:
## high level operations on files and collectiion of files
# Ek file ki poori content ko copy karo — source.txt se lekar destination.txt me likh do.

  
import shutil
shutil.copyfile('source.txt','destination.txt')

'destination.txt'

In [ ]:
## data serializatioin...
#Ye ek data format hai jo data ko store aur transfer karne ke liye use hota hai — especially web me client aur server ke beech.
import json
data = {'name' : 'nitish','age' : 20}
json_str = json.dumps(data)
print(json_str)
print(type(json_str))

parsed_data = json.loads(json_str)
print(parsed_data)
print(type(parsed_data))

{"name": "nitish", "age": 20}
<class 'str'>
{'name': 'nitish', 'age': 20}
<class 'dict'>

In [14]:
## csv :  Comma-Separated Values.
# Ye ek simple text file format hai jo tabular data (rows & columns) ko store karne ke liye use hota hai.
import csv

with open('example.csv',mode='w',newline = '') as file:
    writer = csv.writer(file)
    writer.writerow(['name','age'])
    writer.writerow(['nitish',20])

with open('example.csv',mode='r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['nitish', '20']

In [19]:
from datetime import datetime,timedelta

now = datetime.now()
print(now)

yesterday = now - timedelta(days=2)
print(yesterday)

2025-08-13 11:44:09.781206
2025-08-11 11:44:09.781206

In [ ]:
## time..

import time
print(time.time())
time.sleep(2)
print(time.time())

1755065821.5512614
1755065823.5531852

In [24]:
## regular expression..

import re

pattern = r'\d+'
text = 'there are 123456'
match = re.search(pattern,text)
print(match.group())

123456

77.0